{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="header">
        <a href="/" class="menu">Home</a>
        <a href="/second" class="menu">Sub Paging</a>
        <a href="/third?id=1" class="menu">Try get from Query String</a>
        <a href="/fourth" class="menu">view data using map key</a>
        <a href="/fifth" class="menu">view data using struct</a>
        <a href="/sixth" class="menu">view data using json</a>
    </div>

    {{template "main" .}}

    
</body>
</html>
{{end}}