{{template "layout" .}}
    {{define "main"}}

    {{ range .}}
        <div class="box-with-shadow">
            {{if lt .Stock 3}}
                <div class="data">
                    {{.Name}} dijual harga otr {{.Price}}. Buruan {{.StockStatus}} sisa tinggal {{.Stock}} 
                    
                </div>
            {{else}}
                <div class="data1">
                    {{.Name}} dijual harga otr {{.Price}}. Buruan sisa tinggal {{.Stock}} 
                    
                </div>
            {{end}}
        </div>
    {{end}}
{{end}}